.about {
    min-height: 800px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &_title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #DC780B;
            padding-top: 100px;
        }
        &_subtitle {
            font-family: 'Philosopher';
            font-style: normal;
            font-weight: 700;
            font-size: 31.25px;
            line-height: 41px;
            color: #150C01;
            width: 487px;
            margin-top: 10px;
        }
        &_descr {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #150C01;
            width: 487px;
            margin-top: 30px;
        }
        &_btn {
            margin-top: 29px;
        }
    }
}