.features {
    min-height: 600px;
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #DC780B;
        padding-top: 115px;
    }
    &__subtitle {
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 700;
        font-size: 31.25px;
        line-height: 35px;
        text-transform: capitalize;
        color: #150C01;
        text-align: center;
        margin-top: 7px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 44px;
    }
    &__item {
        width: 33%;
        &_image {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &_title {
            font-family: 'Philosopher';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 24px;
            color: #150C01;
            text-align: center;
            margin-top: 30px;
        }
        &_descr {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #150C01;
            width: 300px;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}